* {
    padding: 0 auto;
    margin: 0 auto;
}
body{ 
    margin: 0; 
    padding: 0; 
}
ul{
    list-style: none;
}
.content{
    display: block;
    max-width: 1139px;
    align-items: center;
}
/* header */
header .top {
    display:block ;
    height: 105px;
    background-color: #fff;
    margin: 0 auto;
}
header .logo{
    float: left;
    margin: 23px 35px 23px 0;
}
header .key{
    width: 87px ;
    height: 40px;
    float: left;
    margin-top: 33px;
}
header .key p{
    font-size: 13px;
    color: #9999;
}
header .top nav{
    width: 662px;
    height: 73px;
    padding-top: 31px;
    float: right;
}
header .top nav ul{
    list-style: none;
}
header nav li {
    float: left;
}
.top ul li.active a{
    color: #fff;
    background-color: #f75a53;
    border-radius: 10% 10% 0 0;
    border-bottom: 2px solid #f75a53;
}
header nav li a{ 
    width: 88px;
    height: 73px;
    text-align: center;
    text-decoration: none;
    line-height: 73px;
    color: black;
    display: block;
    font-size: 13px;
} 
#title {
    height: 201px;
    width: 100%;
    background-color: #f75a53;
}
#title .t-group{
    padding-top: 66px;
    display: block;
}
#title .t-group b{
    font-size: 23px;
}

#title h1{
    float: left;
    color: #fff;
}
#title span b{
    width: 65px;
    display: inline-block;
    font-size: 11px;
    color: #feb39c;
    margin: 25px 0 0 0;
    padding: 0;
}
#title .cur{
    font-size: 16px;
    color: #feb39c;
    padding-left: 16px;  
}
#title .p2{
    display: block;
    margin-top: 26px;
    font-size: 12px;
    color: #feb39c;
}
#title .p2 strong{
    color: #fff;
}
#little {
    display: inline;
    font-size: 11px;
    color: #feb39c;
}
#title p{
    color: #fff;
    display: inline;
    font-size: 11px;
}
#sec-nav{
    height: 60px;
    width: 100%;
    background-color: #f7f7f7;
}
#sec-nav ul{
    width: 350px;
    float: right;
    margin-right: 143px;
}
#sec-nav ul li{
    float: left;
    padding: 18px 17px;
}
#sec-nav li a{
    text-decoration: none;
    font-size:12px;
    color:  #2f2f2f;
}

#suc-case{
    height: 903px;
    width: 100%;
    background-color: aliceblue;
}
#suc-case .wraps{
    display: grid;
    grid-template-columns: repeat(3, 341px);
    grid-auto-rows: 278px;
    align-items: center;
    max-width: 341px;
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
    grid-column-gap: 50px
}
#office h3{
    padding-top: 35px;
    text-align: center;
    align-items: center;
}
/* footer */
footer{
    height: 120px ;
    padding-top:10px ;
    background-color:#363636;
}
footer .ft-ul{
    display: inline-block;
    list-style: none;
    margin: 20px 33% 0 33%;
}
footer li{
    display: inline-flex;
    padding: 0 10px ;
    border-right: solid 1px #878787;
}
footer a{
    text-decoration: none;
    font-size: 11px;
    color: #878986;
}
footer ul .last {
    padding-right: 0;
    border: 0;
}
footer .detail{
    display: grid;
    margin: 18px auto 38px auto;
}
footer p{
    font-size: 11px;
    color: #878986;
}
