* {
    padding: 0 auto;
    margin: 0 auto;
}
body{ 
    margin: 0; 
    padding: 0; 
}
h3{
    padding-top: 53px;
    text-align: center;
}
p{
    text-align: center;
    font-size: 12px;
    color: #99999b ;
    padding-top: 12px;
}
ul{
    list-style: none;
}
/* 導航列 */
header .top {
    display:block ;
    height: 105px;
    background-color: #fff;
}
header .logo{
    float: left;
    margin: 23px 35px 23px 147px;
}
header span{
    display: inline-flex;
    font-size: 13px;
    width: 87px ;
    height: 40px;
    margin: 34px 0 34px 27px;
    color: #9999;
}

header .top nav ul{
    list-style: none;
    float: right;
    margin-right: 40px;
    position: inherit;
}
header nav li {
    display: inline;
    padding: 30px 17px;
}
.top ul li.active{
    color: #fff;
    background-color: #f75a53;
    border-radius: 10% 10% 0 0;
}
header nav a{ 
    text-decoration: none;
    color: black;
    display: inline;
    font-size: 13px;
} 


/* 輪播圖 */
#banner{
    display: block;
    height: 450px;
    margin: 0 auto;
}
#banner .im-1{
    display: block;
    width: fit-content;
}

/* 合作夥伴 */
#partners{
    display: block;
    height: 388px ;
}
#partners .wrapper{
    display: grid;
    grid-template-columns: repeat(6, 188px);
    grid-auto-rows: 100px;
    max-width: 1138px;
    align-items: center;
    margin: 29px auto;
}



/* 優勢 */
#advantages{
    display: block;
    height: 542px ;
    background-color: black;
    margin: 0 auto;
}
#advantages h3{
    color: #fff;
}
#advantages .wap{
    display: grid;
    grid-template-columns: repeat(3, 339px);
    grid-auto-rows: 327px;
    align-items: center;
    max-width: 1140px;
    margin-top: 44px;
    grid-column-gap: 58px;
}
#advantages .adv-bg{
    display: inline-block;
    width: 340px;
    height: 260px;
    background-color: #d0d0d2;
    vertical-align:  baseline;
    z-index: -5;
}
#advantages .adv-items img{
    width: 150px;
    align-items: center;
    vertical-align: baseline;
    margin: 0 auto;
    z-index: +10;
}
#advantages h4{
    text-align: center;
    color: #f75a53;
    margin-top: 96px;
}
#advantages span{
    display: block;
    font-size: 11px;
    width: 253px;
    height: 74px;
    text-align: center;
}

/* 案例 */
#case{
    display: block;
    height: 810px ;
    background-color: blueviolet;
}
#case ul{
    list-style: none;
    margin: 34px auto;
    align-items: center;
}
#case .fliter{
    display: inline;
    font-size: 13px;
    color: #fff;
    padding: 14px 73px;
    background-color:#666666 ;
}
#case h4{
    margin-top: 34px;
}
#case .wrap{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: 256px;
    align-items: center;
    max-width: 1141px;
    margin: 25px auto 59px auto;
    gap: 28px;
}
#case ul{
    display: block;
}
#case li{
    font-size: 9px;
}
#case .date{
    font-size: 9px;
    color: #99999b;
}
/* 新聞 */
#news{
    height: 351px ;
    background-color: bisque;
    display:block;
}
#news .ne-wrap{
    display: grid;
    grid-template-columns: repeat(3, 399px);
    grid-auto-rows: 308px;
    max-width: 1140px;
    align-items: center;
    margin: 0 auto;
}
#news .new-row{
    width: 340px;
    margin-left: 60px;
}
#news h4{
    margin: 36px 0;
}
#news ul{
    display: block;
    width: 340px;
    list-style: none;
    float: left;
    padding-left: 0;
}
#news li{
    text-align: justify;
    font-size: 12px;
    color: #878986;
    
}
#news .date span{
    float:right;
    text-align: justify;
}
#news a{
    display: inline-flex;
    text-decoration: none;
    float: left;
    line-height: 15px;
}
#news .btn{
    background-color: #f75a53;
    font-size: 11px;
    color: #fff;
    padding: 10px;
    border-radius:  5%;
    float: left;
    margin-top: 26px ;
}
/* 底部資訊 */
footer{
    height: 138px ;
    background-color:#363636;
}
footer ul{
    display: inline-block;
    list-style: none;
    margin: 30px 33% 0 33%;
}
footer li{
    display: inline-flex;
    padding: 0 10px ;
    border-right: solid 1px #878787;
}
footer a{
    text-decoration: none;
    font-size: 11px;
    color: #878986;
}
footer ul .last {
    padding-right: 0;
    border: 0;
}
