* {
    padding: 0 auto;
    margin: 0 auto;
}
body{ 
    margin: 0; 
    padding: 0; 
}
h3{
    padding-top: 53px;
    text-align: center;
}
p{
    text-align: center;
    font-size: 12px;
    color: #99999b ;
    padding-top: 12px;
}
ul{
    list-style: none;
}
/* 導航列 */
header .top {
    display:block ;
    height: 105px;
    background-color: #fff;
    margin: 0 auto;
}
header .logo{
    float: left;
    margin: 23px 35px 23px 147px;
}
header .key{
    width: 87px ;
    height: 40px;
    float: left;
    margin-top: 20px;
}
header .key p{
    font-size: 13px;
    color: #9999;
}
header .top nav{
    width: 617px;
    height: 73px;
    padding-top: 31px;
    float: right;
    margin-right: 40px;
}
header .top nav ul{
    list-style: none;
}
header nav li {
    float: left;
}
.top ul li.active a{
    color: #fff;
    background-color: #f75a53;
    border-radius: 10% 10% 0 0;
}
header nav li a{ 
    width: 88px;
    height: 73px;
    text-align: center;
    text-decoration: none;
    line-height: 73px;
    color: black;
    display: block;
    font-size: 13px;
} 


/* 輪播圖 */
#banner{
    display: block;
    height: 450px;
    margin: 0 auto;
    padding-bottom: 0;
}
#banner img{
    display: block;
    width: 100%;
    max-height: 450px ;
    padding-bottom: -5px;
}

/* 合作夥伴 */
#partners{
    display: block;
    height: 388px ;
}
#partners .wrapper{
    display: grid;
    grid-template-columns: repeat(6, 188px);
    grid-auto-rows: 100px;
    max-width: 1138px;
    align-items: center;
    margin: 29px auto;
}



/* 優勢 */
#advantages{
    display: block;
    height: 542px ;
    background-color: black;
    margin: 0 auto;
}
#advantages h3{
    color: #fff;
}
#advantages .wap{
    display: grid;
    grid-template-columns: repeat(3, 339px);
    grid-auto-rows: 327px;
    align-items: center;
    max-width: 1140px;
    margin-top: 44px;
    grid-column-gap: 58px;
}
#advantages .adv-bg{
    display: inline-block;
    width: 340px;
    height: 260px;
    background-color: #d0d0d2;
    vertical-align:  baseline;
    position: relative;
    z-index: 5;
}
#advantages .adv-items img{
    display: grid;
    width: 120px;
    height: 120px;
    position: relative;
    top: 60px;
    z-index: +10;
}
#advantages h4{
    text-align: center;
    color: #f75a53;
    margin-top: 96px;
}
#advantages span{
    display: block;
    font-size: 11px;
    width: 253px;
    height: 74px;
    text-align: center;
}

/* 案例 */
#case{
    display: block;
    height: 810px ;
    background-color: #fff;
}
#case ul{
    display: inline-flex;
    list-style: none;
    margin-top: 34px;
    padding-left: 30%;
    align-items: center;
}
#case .fliter{
    display: inline;
    font-size: 13px;
    
    padding: 14px 73px;
    background-color:#666666 ;
}
#case h4{
    margin-top: 34px;
}
#case .wrap{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: 256px;
    align-items: center;
    max-width: 1141px;
    margin: 25px auto 59px auto;
    gap: 28px;
}
#case li{
    font-size: 9px;
}
#case a{
    text-decoration: none;
    color: #fff;
}
#case .fliter.active {
    color: #fff;
    background-color: #f75a53;
}

#case .date{
    font-size: 9px;
    color: #99999b;
}
/* 新聞 */
#news{
    height: 351px ;
    background-color: #f2f2f2;
    display:block;
}
#news .ne-wrap{
    display: grid;
    grid-template-columns: repeat(3, 399px);
    grid-auto-rows: 308px;
    max-width: 1140px;
    align-items: center;
    margin: 0 auto;
}
#news .new-row{
    width: 340px;
    margin-left: 60px;
}
#news h4{
    margin: 36px 0;
}
#news ul{
    list-style: none;
    float: left;
    padding-left: 0;
}
#news ul li{
    font-size: 12px;
    height: 20px;
    color: #878986;
    float: left;
}
#news .new-row ul li a{
    text-decoration: none;
    float: left;
}
#news .new-row  ul li span{
    display: inline-flex;
    float: right;
}

#news .btn{
    background-color: #f75a53;
    font-size: 11px;
    color: #fff;
    padding: 10px;
    border-radius:  5%;
    float: left;
    margin-top: 26px ;
}
/* 底部資訊 */
footer{
    height: 120px ;
    padding-top:10px ;
    background-color:#363636;
}
footer .ft-ul{
    display: inline-block;
    list-style: none;
    margin: 20px 33% 0 33%;
}
footer li{
    display: inline-flex;
    padding: 0 10px ;
    border-right: solid 1px #878787;
}
footer a{
    text-decoration: none;
    font-size: 11px;
    color: #878986;
}
footer ul .last {
    padding-right: 0;
    border: 0;
}
footer .detail{
    margin-bottom: 38px;
}
